body {
  background-color: #49c5d8;
}

#evil-page {
  background-color: #F51D2C;
}

h1 {
 text-align: center;
 color: #361784;
}

h3 {
  font-family: fantasy;
  font-weight: bold;
}

.photo-header img {
  display: block;
  margin: auto;
  width: 500px;
  border-radius: 15px;
}

li {
  font-family: fantasy;
  font-weight: 900;
}

p {
  line-height: 50px;
  font-size: 25px;
  font-family: fantasy;
}

p em {
  font-weight: bold;
}

strong {
  color: #b22e69;
}
/*just used for seeing the bootstrap row*/
/*.row {
  border: 2px solid black;
}*/

.minons h2 {
  text-align: center;
  font-size: 40px;
}
.minons p {
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
}

.minon-head {
  text-align: center;
  font-size: 30px;
}

.minon-img {
  width: 250px;
  height: 250px;
}

/*.generals p {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
}
.generals h2 {
  text-align: center;
  font-size: 40px;
}

.general-column {
  float: left;
  margin-left: 150px;
  margin-right: 100px;
  width: 300px;
  border: 10px solid black;
  padding: 10px;
  height: 1350px;
}

.general-column p {
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.general-column img {
  width: 250px;
  height: 250px;
}

.general-column h3 {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
}*/

#wizard-intro {
  display: inline-block;
}

.evil-wizard-column {
  border: 10px solid black;
  padding: 10px;
}

.evil-wizard-column h3 {
  text-align: center;
  font-size: 70px;
}

.evil-wizard-column p {
  font-size: 50px;
  font-weight: 900;
}
