body {
  background-color: #49c5d8;
}

#evil-page {
  background-color: #F51D2C;
}

h1 {
 text-align: center;
 color: #361784;
}

h3 {
  font-family: fantasy;
  font-weight: bold;
}

.photo-header img {
  display: block;
  margin: auto;
  width: 500px;
  border-radius: 15px;
}

li {
  font-family: fantasy;
  font-weight: 900;
}

p {
  line-height: 50px;
  font-size: 25px;
  font-family: fantasy;
}

p em {
  font-weight: bold;
}

strong {
  color: #b22e69;
}

.minons h2 {
  text-align: center;
  font-size: 40px;
}
.minons p {
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
}

.minon-head {
  text-align: center;
  font-size: 30px;
}

.minon-img {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

.generals p {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
}

.generals h2 {
  text-align: center;
  font-size: 40px;
}

.general-img {
  display: block;
  margin: auto;
  width: 300px;
  height: 250px;
  border-radius: 15px;
}

.general-head {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
}

.panel-body {
  background-color: #575b08;
  border: 2px solid black;
}

.general-p {
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
}

.jumbotron {
  background-color: black;
  color: white;
}

.jumbotron h3 {
  text-align: center;
  font-size: 70px;
}

.jumbotron p {
  font-size: 50px;
  font-weight: 900;
}
